:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Overpass', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    background-color: var(--very-dark-blue);
}

main {
    width: 400px;
    height: 400px;

    background-color: var(--dark-blue);

    margin-bottom: 20px;
}