:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --medium-blue: hsla(212, 18%, 23%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Overpass', sans-serif;
}

.attribution {
    color: var(--light-grey);
    
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    background-color: var(--very-dark-blue);
}

main {
    width: 400px;
    height: 400px;

    background-color: var(--dark-blue);

    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;

    border-radius: 25px;
}

main .rating-state, main .state-thank {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main .rating-state .star {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    background-color: var(--medium-blue);

    display: flex;
    justify-content: center;
    align-items: center;
}

main .rating-state h1 {
    color: var(--white);

    font-weight: 400;
    font-size: 28px;
}

main .rating-state p {
    color: var(--light-grey);

    font-size: 15px;
}

main .rating-state .rating-container {
    display: flex;
    justify-content: space-between;
}

main .rating-state .rating-container .rating {
    width: 50px;
    height: 50px;

    background-color: var(--medium-blue);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    color: var(--light-grey);

    cursor: pointer;
}

main .rating-state .rating-container .rating:hover {
    background-color: var(--medium-grey);
    color: var(--white);
}

main .rating-state .btn {
    padding: 10px;

    border: none;
    border-radius: 50px;

    background-color: var(--orange);
    color: var(--white);

    text-transform: uppercase;
    letter-spacing: 2px;

    cursor: pointer;
}

main .rating-state .btn:hover {
    background-color: var(--white);
    color: var(--orange);
}

main .state-thank {
    display: none;
    align-items: center;
    text-align: center;
}

main .state-thank .result {
    width: fit-content;

    padding: 8px 15px;

    font-size: 15px;

    border-radius: 50px;

    background-color: var(--medium-blue);
    color: var(--orange);
}

main .state-thank .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .state-thank h2 {
    color: var(--white);

    font-weight: 400;
    font-size: 28px;
}

main .state-thank .text p {
    font-size: 15px;

    color: var(--light-grey);
}

main .rating-state .rating-container .selected {
    background-color: var(--orange);
    color: var(--white);
}